<%= content_for(:title, "#{@skill.name} | PORTFOLIO") %>

<h1><%= @skill.name %></h1>

<p>
  <%= @skill.description %>
</p>


<div class="btn-group btn-group-sm " role="group">
  <%= link_to "Edit", edit_skill_path(@skill), class: "btn btn-warning" %>
  <%= link_to "Delete", skill_path(@skill), class: "btn btn-danger",
                                        data: {confirm: "Destroy Skill?",
                                                method: 'delete'} %>
</div>
