<%= content_for(:title, "#{@post.name} | PORTFOLIO") %>

<h1><%= @post.name %></h1>
<p>
  Posted by: <%= link_to @post.user.email, user_path(@post.user) %>
</p>
<hr>
<p>
  <%= @post.description %>
</p>
<hr>

<div id="comments_list">
  <%= render 'comments/list' %>
</div>

<hr>

<%= link_to "Reply", new_post_comment_path(@post), remote: true, class: "btn btn-info", id: "add_comment_button"%>
<div id="comment_form">
</div>

<hr>

<% if is_admin? || current_user == @post.user %>
  <div class="btn-group btn-group-sm " role="group">
    <%= link_to "Edit", edit_post_path(@post), class: "btn btn-warning" %>
    <%= link_to "Delete", post_path(@post), class: "btn btn-danger",
                                          data: {confirm: "Destroy Post?",
                                                  method: 'delete'} %>
  </div>
<% end %>
